.top_heading1 {
<<<<<<< HEAD
    font-size: 26px;
    font-weight: 700;
    color: #555555;
    font-display: bold;
    margin-bottom: 10px;
  }
  
  .top_heading_design1 {
    font-size: 18px;
    font-weight: 700;
    font-weight:bold;
    color: #555555;
  }
  
  .navbar-nav .staticmenu {
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .btn-sm-square {
    border-radius: 0;
    padding: 5px;
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }
  
  .navbar-toggler {
    background-color: #343a40;
  }
  .container{
    margin: 0px;
    padding: 0px;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: #f5f5f5;
    margin-top: 1.5rem !important;
  }
  @media (max-width: 912px){
    
    .navbar-brand{      //logo
      margin: auto;
      margin-left: -10px;
      padding: 0 12px;
      height: 80px;
      width: 115px;
      vertical-align: middle;
      box-sizing: border-box;
      margin-top: 10px;
    }
    .top_heading1 {
      font-size: 21px;
      font-weight: 150;
      color: #555555;
      font-weight: 700;
      margin-bottom: 27px;
    }
    .top_heading_design1 {
      font-size: 14px;
      font-weight: 700;
      font-style:bold;
      color: #555555;
    }

    .navbar-nav .staticmenu {
      font-size: 18px;
      text-transform: uppercase;
    }
    
    .bg-light {
      background-color: #f8f9fa !important;
    }
    
    .navbar-toggler {
      background-color: #343a40;
    }
  }
=======
  font-size: 26px;
  font-weight: 700;
  color: #555555;
  font-display: bold;
}

.top_heading_design1 {
  font-size: 18px;
  font-weight: 700;
  font-weight:bold;
  color: #555555;
}

@media (max-width :912px) {
  .navbar-brand {
    vertical-align: middle;
    height: 85px;
    margin-left: -10px;
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 30%;
  }
  .top_heading1 {
    font-size: 20px;
    font-weight: 700;
    color: #555555;
    font-display: bold;
    margin-bottom: 27px;
  }
  
  .top_heading_design1 {
    font-size: 14px;
    font-weight: 700;
    font-weight:bold;
    color: #555555;
    margin-bottom: 23px;
  }
}
.navbar-nav .staticmenu {
  font-size: 18px;
  text-transform: uppercase;
}

.btn-sm-square {
  border-radius: 0;
  padding: 5px;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.navbar-toggler {
  background-color: #343a40;
}
>>>>>>> HeaderSliderFooter
