.top_heading1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .top_heading_design1 {
    font-size: 16px;
    font-style:bold;
  }
  
  .navbar-nav .staticmenu {
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .btn-sm-square {
    border-radius: 0;
    padding: 5px;
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }
  
  .navbar-toggler {
    background-color: #343a40;
  }
  