.header-container {
  display:flex;
  flex-direction: column;
  background-color: #339704; /* Green background color */
  font-family: Arial, sans-serif;
  color: black;
  padding: 6px;
  margin-bottom: -20px;
}

.left-column, .right-column {
  justify-content: space-between;
}
.companyName{
  text-decoration: none;
  font-size: 14px;
  font-weight: 750;
}

.left-column {
  color: black;
  font-weight: bold;
}

.left-column p {
  margin: 0;
  font-size: 12px;
  margin-top: -10px;
  font-weight: 400;
}
p.formName{
  font-size: 16px;
  font-weight: 750;
  margin-top: 10px;
}

.right-column {
  text-align: left;
  color: black;
  font-weight: bold;
}

.right-column p {
  margin-top: -10px;
  font-size: 14px;
  font-weight: 400;
}

p.companyNumber{
  margin-top: -20px;
  font-size: 12px;
}