@import "./fonts/eustache/style.scss";
@import "./fonts/gordita/style.scss";
@import "./fonts/noteworthy/style.scss";
@import "./fonts/recoleta/style.scss";
@import "./fonts/bootstrap-icons/font-css.scss";
@import "./fonts/font-awesome/css/all.min.scss";

// main css
@import "./scss/custom-animation";
@import "./scss/framework";
@import "./scss/navbar";
@import "./scss/style";
@import "./scss/header";
@import "./scss/custom-next";
@import "./scss/responsive";
@import "./scss/cutomnav";
@import "./scss/customcards";
@import "./scss/ImageSlider";
@import "./scss/footer";
@import "./scss/aboutUs";
@import "./scss/landingPageOther";

<<<<<<< HEAD
.navbar-custom {
    background-color: #f88f4a;
    height: 50px; /* Adjust height */
  }
  
  .navbar-custom .nav-link {
    font-size: 14px; /* Adjust font size */
    color: white; /* Set font color to white */
    padding: 0.5rem; /* Adjust padding to reduce navbar height further */
  }
  
  .navbar-custom .nav-link:hover {
    color: #ddd; /* Change color on hover */
  }
  
  .custom-hr {
    border: 1px solid white; /* White color */
    width: 80%; /* 10% margin on each side */
    margin: 20px auto; /* Centered with top and bottom margin */
}

.custom-carousel {
  width: 100%; /* Adjust width as needed */
  height: 650px; /* Fixed height for the carousel */
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden; /* Hide overflow to maintain fixed size */
}

.custom-carousel .carousel-item img {
  width: 100%;
  height: 650px;
  object-fit:cover; /* Ensure the image covers the entire container */
}
.d-block{
  width: 100%;
  height: 400px;
  object-fit:cover; /* Ensure the image covers the entire container */
}

@media (max-width: 912px){
  .custom-carousel .carousel-item img{
    width: 100%;
    height: 400px;
    object-fit:cover; /* Ensure the image covers the entire container */
  }
  .carousel-control-prev-icon{
    margin-bottom: 325px;
    }
  .carousel-control-next-icon{
    margin-bottom: 325px;
    }
}
=======
  
>>>>>>> HeaderSliderFooter
